{% extends "layout/main" %}

{% block content %}

<section class="page">
	<ul class="royalSlider rsDefault">
        {% for block in entry.imageSlider.all() %}
            {% set images = block.images %}
            {% if images and images|length %}
                <li>
                    {% for image in images.all() %}
                        <img src="{{ image.url('imageSlider') }}" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
						<div class="rsSBlock"><img src="/assets/img/welcome.svg" alt="Welcome" title="Welcome" width="1184" height="152"></div>
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

<div class="dia"></div>
	<div class="info">
		<ul class="infoHold"><li>
			<img src="/assets/img/welcome-eatery.svg" alt="Welcome Eatery" title="Welcome Eatery" width="276" height="248" />
			</li><li>
    			<div class="line"></div>

        			<h2>{{ entry.location|upper }}</h2>
        			<h3>{{ entry.building }}</h3>
        			<p>FOR ALL ENQUIRIES &#038; BOOKINGS PLEASE EMAIL <a href="mailto:{{ entry.enquiries }}">{{ entry.enquiries|upper }}</a></p>

    			<div class="line"></div>
			</li><li>
    			<div class="line"></div>

        			<h2>OPENING HOURS</h2>
        			<h3>{{ entry.days|nl2br }}</h3>

                    {% if entry.instagram|length %}
                        {% for ig in entry.instagram.all() %}
                            <p>INSTAGRAM <a href="{{ ig.instagramUrl }}" target="_blank">{{ ig.instagramTitle|upper }}</a></p>
                        {% endfor %}
                    {% else %}
                        {# Empty space #} <br />
                    {% endif %}

                    {% if entry.facebook|length %}
                        {% for fb in entry.facebook.all() %}
                            <p>FACEBOOK <a href="{{ fb.facebookUrl }}" target="_blank">{{ fb.facebookTitle|upper }}</a></p>
                        {% endfor %}
                    {% else %}
                        {# Empty space #} <br />
                    {% endif %}

                <div class="line"></div>
			</li>
		</ul>

		<ul class="menus">
            {% for menu in entry.menus.all() %}
                {% set pdf = menu.pdfFile.one() %}
                <li>
                    <a class="button" href="{{ pdf.url }}" target="_blank">{{ menu.pdfTitle }}</a>
    			</li>
            {% endfor %}
		</ul>

	</section>
</section>

{% endblock %}
