<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>{{ siteName }} | {{ entry.location }}</title>
        <meta name="robots" content="all" />
        <meta name="description" content="{{ extraDetails.description }}" />
        <meta name="referrer" content="origin-when-cross-origin" />

        <link rel="canonical" href="{{ siteUrl }}" />

    	<link rel="shortcut icon" href="/favicon.ico" >
    	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png"/>
    	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png"/>
    	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png"/>
    	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png"/>

    {% set socialImage = extraDetails.socialSharingImage.one() %}

    	<meta property="og:title" content="{{ siteName }}"/>
    	<meta property="og:type" content="website"/>
    	<meta property="og:url" content="{{ siteUrl }}"/>
    	<meta property="og:description" content="{{ extraDetails.description }}"/>
    	<meta property="og:image" content="{{ socialImage.url('social') }}"/>
    	<meta property="og:site_name" content="{{ siteName }}"/>

        <script src="//use.typekit.net/ihj1pzc.js"></script>
	    <script>try{Typekit.load();}catch(e){}</script>

        {# CSS #}
    	{% do view.registerCssFile("/assets/styles/style.css") %}
        {% do view.registerCssFile("/royalslider/royalslider.css") %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    	{% do view.registerJsFile("/assets/js/main.js?v=1") %}
    	{% do view.registerJsFile("/royalslider/jquery.royalslider.min.js") %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-65829401-1', 'auto');
            ga('send', 'pageview');
        </script>

    </head>

    <body class="{{ entry.title|lower }}-page">
    	<div id="page" class="site">
    		<header id="header">
    		</header>

    		<div id="content" class="site-content">
    			{% block content %}
    			{% endblock %}
    		</div>

    		<footer id="colophon" class="site-footer">
    			<div class="site-info">
    			</div>
    		</footer>
    	</div>
    </body>
</html>
